/* 
.footer {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 5vh;
    width: 86vw; 
}


.footer-top-space {
    padding-left: 1em;
    padding-top: 1em; 
    display: flex;
    justify-content: space-between;
}

.footer-bottom-space {
    height: 10vh;
} 

*/
