/* Default Styling */

body {
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 1rem;  /* Inherits from root element (16px) */
    background-color: #F9F6F2;
}

.root-container {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 10vw 0;
    align-content: space-around;
    
}
  
.text-title {
    font-size: 3rem;  /* 3 times larger than body text */
    font-weight: bold;
    margin: 15px;
    line-height: 1;
}

.text-important {
    font-size: 1.25rem;  
    font-style: regular;
    margin: 5px;
}

.text-regular {
    font-size: 20;
    font-style: medium;
    margin: 0 auto;
}

.text-mono {
    font-family: Ubuntu Mono, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
}

button {
    height: 52px;
    min-width:112px;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
    background-color: black;
    color: white;
}

.footer-top-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    min-height: 24px;
}

.footer-bottom-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    min-height: 40px;
}

.logo {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    background-image: url('../assets/it-bot-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slogan {
    flex: 1; /* Take up remaining space */
    padding: 0 40px;
    font-weight: normal;
    position: relative;
    top: 5px;
    text-align: left;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: none;
}



.a-line {
    min-height: 1px;
    background-color: #E6E6E6;
    flex: start;
}


.nav-link {
    min-width:auto;
    height: 30px;
    display: flex;
    justify-content: flex-start;
}

.nav-link a {
    margin: 0 6vw 0 3vw
}

.footer-icons-frame{
    display: flex;
    justify-content: space-between;
}


.content-frame{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    margin-bottom: 2.5em;
}

.chapter-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-frame{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: left;
}

.image-frame{
    width: 30vw;
    height: 70vh;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
} 


/* Small Mobile Devices (<= 360px) */
@media only screen and (max-width: 360px) {
    .root-container {
        padding: 0;
    }

    .text-title {
        font-size: 2rem;  /* 3 times larger than body text */
    }
    
    .text-important {
        font-size: 1.25rem;  
        font-style: regular;
        margin: 5px;
    }
    footer{
        flex-wrap: wrap;
    }
    button {
        min-width: 20vw;
    }

    .content-frame{
        flex-direction: column;
    }   


    .image-frame{
        display:none;
    }
    .text-frame{
        width: 100%;
    }
}    











